@import url('https://fonts.googleapis.com/css?family=Oxanium:800|Saira:300,400&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Saira', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #fafafa;
  background: #232323;
  margin: 0px;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Oxanium', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 900;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

.copyright {
  width: 100vw;
  text-align: center;
  font-weight: bolder;
  padding: 15px;
}

#countries {
  height: 45px;
  width: 326px;
  background: white;
}
