.hero {
  position: relative;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 150px;
}

.logo {
	max-width: 250px;
  margin: auto;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  width: 15vw;
  height: 50.2vh;
  max-height: 480px;
  margin-right: 25px;
}

.heroDetails {
  font-size: 14px;
  padding: 0 0.5em;
  text-align: left;
}

.button {
  background: none;
  border: white 1px solid;
  border-radius: 5px;
  padding: 0.75rem 3rem;
  margin-top: 35px;
  font-size: 1rem;
  text-transform: uppercase;
  color: currentColor;
  transition: 200ms;
}

.button:hover {
  background: white;
  color: #232323;
}

.button:active {
  background: #ccc;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
