.hero {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}

.logo {
  max-width: 250px;
  margin: 50px auto 20px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  flex: 1;
  height: 60vh;
  min-width: 30vw;
  max-width: 400px;
  width: 70vw;
  margin: 15px;
}

.heroImageContainer {
  display: flex;
  justify-content: center;
}

.heroDetails {
  font-size: 14px;
  padding: 0 0.5em;
  min-width: 300px;
}

@media (min-width: 715px) {
  .heroDetails {
    text-align: left;
  }
}

.button {
  background: linear-gradient(45deg, #24a3e5, #34d5ff);
  border: none;
  border-radius: 5px;
  padding: 0.75rem 3rem;
  margin-top: 35px;
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: Black;
  transition: 200ms;
}

.button:hover {
  background: white;
  color: #232323;
}

.button:active {
  background: #24a3e5;
}

@media (min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
